@import "body";
@import "border";

$bleed-pc: 30px !default;
$bleed-sm: 10px !default;
$max: 10000px;

@mixin template-normal {
  html {
    overflow-x: hidden;

    &, * {
      box-sizing: border-box;
    }
  }
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    padding: 0 $bleed-pc;
    @include media-breakpoint-down(sm) {
      padding: 0 $bleed-sm;
    }
  }
  p {
    margin: 0;
  }
  header {
    grid-row: 1 / 2;
    background: $white;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    margin: 0 -1 * $max 12px;
    padding: 5px $max;
    line-height: 0;
    z-index: 100;

    img {
      height: auto;
      max-height: 100%;
    }
  }
  footer {
    grid-row: -2 / -1;
    color: $gray-050;
    background: $gray-900;
    margin: 0 -1 * $max;
    padding: .5rem $max;
  }
  main {
    padding: 0 1rem;
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }

    &>section {
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 1rem;
      }

      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
      }
    }
  }

  .copyright {
    color: $gray-200;
    font-size: $font-size-sm;
    text-align: center;
    opacity: 0.8;

    @include a-hover-underline($gray-200, $gray-200, $gray-200);
  }
}
