/*
#overview
Button
*/
/*#styleguide
```
<div class="">
  <button>ボタン</button>
  <button class="primary">ボタン</button>
  <button class="secondary">ボタン</button>
  <button class="warning">ボタン</button>
  <button class="danger">ボタン</button>
</div>
```
*/
button,
.btn {
  display: inline-block;
  color: $gray-100;
  font-size: $font-size-lg;
  font-weight: $font-weight-normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: $border-set-solid;
  border-radius: $border-radius;
  text-decoration: none;

  &,
  &.primary {
    background: $primary;
    border-color: $primary;
  }
  &.secondary {
    background: $secondary;
    border-color: $secondary;
  }
  &.warning {
    background: $warning;
    border-color: $warning;
  }
  &.danger {
    background: $danger;
    border-color: $danger;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem $primary;
  }

  &:disabled {
    opacity: 0.4;
  }
}
