/*
#overview
Color sample
*/

/*#styleguide
```
<h1>グレートーン</h1>
<div class="grid col-5">
  <div class="ht-70 bg-white"><span class="m-5">white</span></div>
  <div class="ht-70 bg-gray-050"><span class="m-5">gray-050</span></div>
  <div class="ht-70 bg-gray-100"><span class="m-5">gray-100</span></div>
  <div class="ht-70 bg-gray-200"><span class="m-5">gray-200</span></div>
  <div class="ht-70 bg-gray-250"><span class="m-5">gray-250</span></div>
  <div class="ht-70 bg-gray-300"><span class="m-5">gray-300</span></div>
  <div class="ht-70 bg-gray-400"><span class="m-5">gray-400</span></div>
  <div class="ht-70 bg-gray-500"><span class="m-5">gray-500</span></div>
  <div class="ht-70 bg-gray-600"><span class="m-5">gray-600</span></div>
  <div class="ht-70 bg-gray-700"><span class="m-5">gray-700</span></div>
  <div class="ht-70 bg-gray-750"><span class="m-5">gray-750</span></div>
  <div class="ht-70 bg-gray-800"><span class="m-5">gray-800</span></div>
  <div class="ht-70 bg-gray-900"><span class="m-5">gray-900</span></div>
  <div class="ht-70 bg-gray-950"><span class="m-5">gray-950</span></div>
  <div class="ht-70 bg-black"><span class="m-5">black</span></div>
</div>
```
*/

// グレートーン
$white:    #fff;
$gray-050: #f7f8f7;
$gray-100: #eff0ef;
$gray-200: #dadcda;
$gray-250: #d0d3cf;
$gray-300: #c0c4c0;
$gray-400: #a0a6a0;
$gray-500: #7d837c;
$gray-600: #5b5f59;
$gray-700: #3d3f3b;
$gray-750: #2d302c;
$gray-800: #242523;
$gray-900: #0f100f;
$gray-950: #070807;
$black:    #000;

/*#styleguide
```
<h1>基本色</h1>
<div class="grid col-5">
  <div class="ht-70 bg-red"><span class="m-5">red</span></div>
  <div class="ht-70 bg-orange"><span class="m-5">orange</span></div>
  <div class="ht-70 bg-yellow"><span class="m-5">yellow</span></div>
  <div class="ht-70 bg-green"><span class="m-5">green</span></div>
  <div class="ht-70 bg-cyan"><span class="m-5">cyan</span></div>
  <div class="ht-70 bg-blue"><span class="m-5">blue</span></div>
  <div class="ht-70 bg-sky"><span class="m-5">sky</span></div>
  <div class="ht-70 bg-navy"><span class="m-5">navy</span></div>
  <div class="ht-70 bg-purple"><span class="m-5">purple</span></div>
  <div class="ht-70 bg-pink"><span class="m-5">pink</span></div>
  <div class="ht-70 bg-brawn"><span class="m-5">brawn</span></div>
  <div class="ht-70 bg-magenta"><span class="m-5">magenta</span></div>
  <div class="ht-70 bg-ivory"><span class="m-5">ivory</span></div>
</div>
```
*/
// 基本色
$red:      #bf1e33;
$orange:   #fd7e00;
$yellow:   #ffbe00;
$green:    #4db56a;
$cyan:     #219ddd;
$blue:     #0067c0;
$sky:      #95c0ec;
$navy:     #333c5e;
$purple:   #a260bf;
$pink:     #e38698;
$brawn:    #734e30;
$magenta:  #c949a2;
$ivory:    #e3d4ca;

/*#styleguide
```
<h1>彩度83%</h1>
<div class="grid col-5">
  <div class="ht-70 bg-sat83-01"><span class="m-5">sat83-01</span></div>
  <div class="ht-70 bg-sat83-02"><span class="m-5">sat83-02</span></div>
  <div class="ht-70 bg-sat83-03"><span class="m-5">sat83-03</span></div>
  <div class="ht-70 bg-sat83-04"><span class="m-5">sat83-04</span></div>
  <div class="ht-70 bg-sat83-05"><span class="m-5">sat83-05</span></div>
  <div class="ht-70 bg-sat83-06"><span class="m-5">sat83-06</span></div>
  <div class="ht-70 bg-sat83-07"><span class="m-5">sat83-07</span></div>
  <div class="ht-70 bg-sat83-08"><span class="m-5">sat83-08</span></div>
  <div class="ht-70 bg-sat83-09"><span class="m-5">sat83-09</span></div>
  <div class="ht-70 bg-sat83-10"><span class="m-5">sat83-10</span></div>
</div>

<h1>明度彩度MAX</h1>
<div class="grid col-5">
  <div class="ht-70 bg-vivid-01"><span class="m-5">vivid-01</span></div>
  <div class="ht-70 bg-vivid-02"><span class="m-5">vivid-02</span></div>
  <div class="ht-70 bg-vivid-03"><span class="m-5">vivid-03</span></div>
  <div class="ht-70 bg-vivid-04"><span class="m-5">vivid-04</span></div>
  <div class="ht-70 bg-vivid-05"><span class="m-5">vivid-05</span></div>
  <div class="ht-70 bg-vivid-06"><span class="m-5">vivid-06</span></div>
  <div class="ht-70 bg-vivid-07"><span class="m-5">vivid-07</span></div>
  <div class="ht-70 bg-vivid-08"><span class="m-5">vivid-08</span></div>
  <div class="ht-70 bg-vivid-09"><span class="m-5">vivid-09</span></div>
  <div class="ht-70 bg-vivid-10"><span class="m-5">vivid-10</span></div>
  <div class="ht-70 bg-vivid-11"><span class="m-5">vivid-11</span></div>
  <div class="ht-70 bg-vivid-12"><span class="m-5">vivid-12</span></div>
  <div class="ht-70 bg-vivid-13"><span class="m-5">vivid-13</span></div>
  <div class="ht-70 bg-vivid-14"><span class="m-5">vivid-14</span></div>
  <div class="ht-70 bg-vivid-15"><span class="m-5">vivid-15</span></div>
</div>
```
*/
// 彩度83%
$sat83-01: #af731d;
$sat83-02: #93ad1d;
$sat83-03: #3eaa1d;
$sat83-04: #1ea84e;
$sat83-05: #1ca097;
$sat83-06: #1d5ba3;
$sat83-07: #2b1c9e;
$sat83-08: #751b9b;
$sat83-09: #991b73;
$sat83-10: #991b28;
// 明度彩度MAX
$vivid-01: #ff3407;
$vivid-02: #ff9307;
$vivid-03: #fff607;
$vivid-04: #a4ff07;
$vivid-05: #41ff07;
$vivid-06: #07ff30;
$vivid-07: #07ff93;
$vivid-08: #07fff6;
$vivid-09: #07a4ff;
$vivid-10: #0741ff;
$vivid-11: #3007ff;
$vivid-12: #9307ff;
$vivid-13: #f607ff;
$vivid-14: #ff07a4;
$vivid-15: #ff0741;

/*#styleguide
```
<h1>状況カラー</h1>
<div class="grid col-4">
  <div class="ht-70 bg-primary"><span class="m-5">primary</span></div>
  <div class="ht-70 bg-secondary"><span class="m-5">secondary</span></div>
  <div class="ht-70 bg-success"><span class="m-5">success</span></div>
  <div class="ht-70 bg-info"><span class="m-5">info</span></div>
  <div class="ht-70 bg-warning"><span class="m-5">warning</span></div>
  <div class="ht-70 bg-danger"><span class="m-5">danger</span></div>
  <div class="ht-70 bg-light"><span class="m-5">light</span></div>
  <div class="ht-70 bg-dark"><span class="m-5">dark</span></div>
</div>
```
*/
// 状況カラー
$primary:   $blue;
$secondary: $gray-600;
$success:   $green;
$info:      $cyan;
$warning:   $yellow;
$danger:    $red;
$light:     $gray-100;
$dark:      $gray-800;



$grays: (
  "05": $gray-050,
  "10": $gray-100,
  "20": $gray-200,
  "25": $gray-250,
  "30": $gray-300,
  "40": $gray-400,
  "50": $gray-500,
  "60": $gray-600,
  "70": $gray-700,
  "75": $gray-750,
  "80": $gray-800,
  "95": $gray-950,
  "90": $gray-900
);
$colors: (
  "red":     $red,
  "orange":  $orange,
  "yellow":  $yellow,
  "green":   $green,
  "cyan":    $cyan,
  "blue":    $blue,
  "sky":     $sky,
  "navy":    $navy,
  "purple":  $purple,
  "pink":    $pink,
  "brawn":   $brawn,
  "magenta": $magenta,
  "ivory":   $ivory
);
$color-map: (
  "sat83-01": $sat83-01,
  "sat83-02": $sat83-02,
  "sat83-03": $sat83-03,
  "sat83-04": $sat83-04,
  "sat83-05": $sat83-05,
  "sat83-06": $sat83-06,
  "sat83-07": $sat83-07,
  "sat83-08": $sat83-08,
  "sat83-09": $sat83-09,
  "sat83-10": $sat83-10,
  "vivid-01": $vivid-01,
  "vivid-02": $vivid-02,
  "vivid-03": $vivid-03,
  "vivid-04": $vivid-04,
  "vivid-05": $vivid-05,
  "vivid-06": $vivid-06,
  "vivid-07": $vivid-07,
  "vivid-08": $vivid-08,
  "vivid-09": $vivid-09,
  "vivid-10": $vivid-10,
  "vivid-11": $vivid-11,
  "vivid-12": $vivid-12,
  "vivid-13": $vivid-13,
  "vivid-14": $vivid-14,
  "vivid-15": $vivid-15
);
$theme-map: (
  "primary":   $primary,
  "secondary": $secondary,
  "success":   $success,
  "info":      $info,
  "warning":   $warning,
  "danger":    $danger,
  "light":     $light,
  "dark":      $dark
);


.white {
  color: $white;
}
.black {
  color: $black;
}
@each $name, $color in $grays {
  .gray-#{$name}0 {
    color: $color;
  }
  .bg-gray-#{$name}0 {
    background-color: $color;
  }
}
@each $name, $color in map-merge($colors, $color-map) {
  .#{$name} {
    color: $color;
  }
  .bg-#{$name} {
    background-color: $color;
  }
}
@each $name, $color in $theme-map {
  .bg-#{$name} {
    background-color: $color;
  }
}
