// サイズ
$font-size-sm:   0.8rem;
$font-size-base: 1rem;
$font-size-lg:   1.2rem;

// 太さ
$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   700;

// 行の高さ
$line-height-sm:   1;
$line-height-base: 1.2;
$line-height-lg:   1.5;

* {
  text-decoration: none;
}
