@mixin hover {
  &:hover { @content; }
}

@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin plain-hover-focus {
  &,
  &:hover,
  &:focus {
    @content;
  }
}

@mixin hover-focus-active {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

// Specialize mixin
@mixin hover-underline($color: $info) {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;

  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 6px;
    bottom: 0;
    left: 0;
    background: $color;
    transition: width .3s ease-in-out;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

@mixin hover-expansion($scale: 1.1, $duration: 0.3) {
  transition-duration: $duration * 1s;
  &:hover {
    transform: scale($scale);
  }
}
